html {
  overflow: hidden;
}

body {
  font-family: 'Noto sans', sans-serif;
  background-color: #1B2631;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*create overall grid*/
.grid {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "navigation dropdown table"
}

.navbar {
  grid-area: navigation;
  width: 100%;
  background-color: #555;
  overflow: hidden;
}

/* Navbar links */
.navbar a {
  float: none;
  display: block;
  text-align: center;
  padding: 11vh;
  color: white;
  text-decoration: none;
  font-size: 2vh;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #5b9ee5;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media only screen and (max-width: 500px) {
  .navbar a {
    font-size: 1em;
  }
}

table {
  margin-top: 19vh;
  float: left;
  grid-area: table;
  position: relative;
}

table, th, td {
  border: 2px solid #1B2631 ;
  border-radius: 10px;
  background-color: white;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

.inputFood  {
  text-align: left ;
  padding: 45vh;
  text: white;
  text-decoration: none;
  font-size: 2vh;
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
